.products{
    width: 80%;
    margin: 4rem auto;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;

}
.product-title{
    
    text-align: center;
}
.border hr{
    width: 100px;
    
}
.product-details{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin: 4rem auto;
}
.product-card{
    width: 25%;
    padding: 1rem;
    
    border-radius: 1rem;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.37);
}
.product-card img{
    width: 100%;
    height: 300px;
}


@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
    .product-card{
        width: 40%;
        padding: 1rem;
        margin: auto;
        border-radius: 1rem;
        box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.37);
    }
   
}
@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
    .product-card{
        width: 100%;
        padding: 1rem;
        
        border-radius: 1rem;
        box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.37);
    }
   
}